#home{
	margin-top:7%;

	h1{
		color: rgba(gray, 0.9);
		text-shadow: -1px 0px 0 #ffffff, 1px 0px 0 #000000, 0px 1px 0 #000000, 0px 0px 0 #ffffff;
	}
	.menu_home{
		font-size:1.25em;
		text-decoration:none;
		a{
			color: rgba(gray, 0.9);
		}
	}

	li{
		list-style-type:none;
	}
	
}



