.skills {
  text-align: center;
}

.skill {
  background: white;
  margin: 2%;
  border: 5px 15px 5px 5px solid;
  padding: 10px;

  &.backend {
    border-color: $blue2;
    background: $blue3;
  }

  &.frontend {
    border-color: $green2;
    background: $green3;
  }

  &.test {
    border-color: $yellow2;
    background: $yellow;
  }

  p {
    margin-left: 15px;
    text-align: left;
  }
}

@media (min-width: 992px){
  .skill {
    width: 29%;
    vertical-align: top;
    display: inline-block;
  }
}

