<div class="col-sm-12 skills">
	<h3 class="text-center gray text-box">Dev Skills</h3>

	<div class='skill backend'>
		<h4><b>Languages</b></h4>
		<hr />
		<p ng-repeat="skill in languages">
			{{skill}}
		</p>
	</div>

	<div class='skill frontend'>
		<h4><b>Front End Frameworks</b></h4>
		<hr />
		<p ng-repeat="skill in frameworks">
			{{skill}}
		</p>
	</div>

	<div class='skill test'>
		<h4><b>Testing Frameworks</b></h4>
		<hr />
		<p ng-repeat="skill in testing">
			{{skill}}
		</p>
	</div>

	<div class='skill delivery'>
		<h4><b>Delivery Frameworks</b></h4>
		<hr />
		<p ng-repeat="skill in delivery">
			{{skill}}
		</p>
	</div>
</div>